[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
twint = "*"
tqdm = "*"
gpt-2-simple = "*"
tensorflow-gpu = "==1.15"
pandas = "*"
tweepy = "*"
boto3 = "*"
click = "*"

[requires]
python_version = "3.7"
